# Ignorar todo por defecto
*

# ¡Exceptuar solo lo que quieres!
!*.cpp
!*.hh
!*.csv
!*.txt
!*.h
!*.xaml
!*.xaml.cpp
!*.xaml.h
!*.idl
!*.config
!app.manifest
!Package.appxmanifest

# Excluir archivos comunes de Visual Studio que podrían estar en la raíz
*.sln
*.vcxproj
*.vcxproj.*
*.user
*.filters
*.log
*.obj
*.exe
*.pdb
*.idb
*.ipch
*.tlog
*.lastbuildstate
*.VC.db
*.opendb

# Ignorar carpetas comunes de salida
[Bb]in/
[Oo]bj/
x64/
.vs/
