# Ignorar todo por defecto
*

# ¡Exceptuar solo lo que quieres!
!main.cpp
!tree.hh
!node.hh
!disk.hh
!dataReader.hh
!plate.hh
!surface.hh
!track.hh
!sector.hh
!sectorIterator.hh

# Excluir archivos comunes de Visual Studio que podrían estar en la raíz
*.sln
*.vcxproj
*.vcxproj.*
*.user
*.filters
*.log
*.obj
*.exe
*.pdb
*.idb
*.ipch
*.tlog
*.lastbuildstate
*.VC.db
*.opendb

# Ignorar carpetas comunes de salida
[Bb]in/
[Oo]bj/
x64/
.vs/
